<style>
    body {
        background-color: #fef9e1;
        color: #a31d1d;
    }
</style>
@model NotesMVC.Models.Note

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>@Model.Title</h4>
    <hr >
    <dl class="row">
        <!--promqna-->
        <!--
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        -->
        @* <h2>@Model.Title</h2> *@
        <div>@Html.Raw(Model.Description)</div>
        <!--
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        -->
        <!--promqna-->
        <hr />
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdateOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastUpdateOn)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
