@model IEnumerable<NotesMVC.Models.Note>

<!--promqna-->
@using Microsoft.AspNetCore.Identity
@inject SignInManager<Client> SignInManager


    <!--promqna-->
@using (Html.BeginForm("Index", "Notes", FormMethod.Get))
{
    <input type="text" name="searchTerm" class="form-control" placeholder="Search notes..." value="@ViewData["SearchTerm"]" />
    <button type="submit" class="btn btn-primary mt-2">Search</button>
}
    <!--kraaj na promqna-->
<style>
    body {
        background-color: #fef9e1;
        color: #a31d1d;
    }
</style>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdateOn)
            </th>
            <!--promqna-->
            @if(User.IsInRole("admin"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.ClientEmail)
                </th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdateOn)
            </td>
                <!--promqna-->
                @if (User.IsInRole("admin"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.ClientEmail)
                    </td>
                }
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
